## 함수

In [1]:
def mysum(x, y):
    return x + y

In [2]:
result = mysum(1, 2)
print(result)

3

In [3]:
def mysum(x, y, z):
    return x + y + z

In [4]:
mysum(1, 2, 3)

6

In [5]:
mysum(1, 2)

TypeError: mysum() missing 1 required positional argument: 'z'

In [ ]:
i = 10
i = 20

### 인자

In [ ]:
def fn_with_positional_arguments(name, age):
    print("당신의 이름은 {}이며, 나이는 {}살입니다.".format(name, age))

In [ ]:
fn_with_positional_arguments("Tom", 10)

In [ ]:
fn_with_positional_arguments("Tom")

In [ ]:
def fn_with_keyword_arguments(name="", age=0):
    print("당신의 이름은 {}이며, 나이는 {}살입니다.".format(name, age))

In [ ]:
fn_with_keyword_arguments(name="Tom", age=10)

In [ ]:
fn_with_keyword_arguments(age=10, name="Tom")

In [ ]:
fn_with_keyword_arguments(name="Tom")

In [ ]:
fn_with_keyword_arguments(age=10)

In [ ]:
fn_with_keyword_arguments()

### Keyword Arguments 에서는 Positional Arguments 문법도 같이 쓸 수 있습니다.

In [ ]:
fn_with_keyword_arguments("Tom", 10)

In [ ]:
fn_with_keyword_arguments("Tom", age=10)

## 가변인자

In [ ]:
def mysum(a=0, b=0, c=0, d=0, e=0, f=0, g=0):
    return a + b + c + d + e + f + g

In [ ]:
mysum()

In [ ]:
mysum(1, 2, 3, 4)

### 가변인자는 아니지만, list/tuple 로서 흉내

In [ ]:
def mysum(numbers):
    result = 0
    for i in numbers:
        result += i
    return result

In [ ]:
mysum( [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] )

In [ ]:
mysum( (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) )

In [ ]:
mysum( range(1, 100001) )

In [ ]:
def mysum(*numbers):  # Positional Arguments 에서의 가변인자
    # print(repr(numbers))
    result = 0
    for i in numbers:
        result += i
    return result

In [ ]:
mysum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
mysum( *range(1, 100001) )

In [ ]:
mylist = [10, 20, 30, 40, 50, 60]

def mysum6(a, b, c, d, e, f):
    return a + b + c + d + e + f

print(mysum6(mylist[0], mylist[1], mylist[2], mylist[3], mylist[4], mylist[5]))

print(mysum6(*mylist))

In [ ]:
mylist = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

def mysum6(a, b, c, d, e, f):
    return a + b + c + d + e + f

print(mysum6(mylist[0], mylist[1], mylist[2], mylist[3], mylist[4], mylist[5]))

print(mysum6(*mylist[2:8]))

In [ ]:
def hello(name='anonymous', age=0, region='seoul'):
    print("안녕하세요. {}님. {}살이시네요. {}에 사시구요.".format(name, age, region))
    
def hello2(info_dict):
    print("안녕하세요. {}님. {}살이시네요. {}에 사시구요.".format(
            info_dict['name'], info_dict['age'], info_dict['region']))

tom = {'name': 'tom', 'age': 10, 'region': 'NewYork'}
hello(**tom)
hello(tom['name'], tom['age'], tom['region'])
hello(name=tom['name'], age=tom['age'], region=tom['region'])

## repr

In [ ]:
class Person:
    def __init__(self, name, age, region):
        self.name = name
        self.age = age
        self.region = region
    
    def __str__(self):
        return self.name

    def __repr__(self):
        return '<Person: name={}, age={}, region={}>'.format(self.name, self.age, self.region)

In [ ]:
tom = Person('Tom', 10, 'NewYork')

In [ ]:
print(tom)

In [ ]:
print(repr(tom))

## 익명함수

In [ ]:
def mysum1(x, y):
    return x + y

result = mysum1(1, 2)
result

In [ ]:
lambda x, y: x + y

In [ ]:
(lambda x, y: x + y)(1, 2)

In [ ]:
i = 10
mysum2 = lambda x, y: x + y
mysum2(1, 2)

## 일급함수, 고차함수

In [ ]:
def myfn():
    i = 10
    return i

myfn()

In [ ]:
def myfn():
    fn = lambda x, y: x + y
    return fn

result_fn = myfn()
result_fn(1, 2)

In [ ]:
def myfn():
    def fn(x, y):
        return x + y
    return fn

result_fn = myfn()
result_fn(1, 2)

## 순회가능한 객체

In [ ]:
print("1")
print("2")
print("3")

In [ ]:
print("1", end='\n')
print("1", end='\n')
print("1", end='\n')

In [ ]:
print("1", end='')
print("1", end='')
print("1", end='')

In [ ]:
print?

In [ ]:
print("a", "b", "c", "d", "e")

In [ ]:
print("a", "b", "c", "d", "e", sep=":")

## 호출가능한 객체

In [6]:
class Calculator(object):
    def __init__(self, base):
        self.base = base

In [7]:
calculator = Calculator(10)

In [8]:
calculator()

TypeError: 'Calculator' object is not callable

In [9]:
class Calculator(object):
    def __init__(self, base):
        self.base = base
    
    def __call__(self, x, y):
        return self.base + x + y

In [10]:
calculator = Calculator(10)

In [11]:
calculator(1, 2)

13

In [12]:
calculator(10, 20)

40

In [13]:
calculator.__call__(10, 20)

40

## 빌트인 함수

In [15]:
mytuple = (10, 20, 30, 10, 20, 100, 1000, -1)

In [16]:
sorted(mytuple)

[-1, 10, 10, 20, 20, 30, 100, 1000]

In [17]:
sorted(mytuple, reverse=True)

[1000, 100, 30, 20, 20, 10, 10, -1]

In [18]:
import random

random_list = []
for i in range(20):
    random_list.append(random.randint(1, 20))
random_list

[17, 7, 6, 3, 6, 17, 2, 12, 20, 8, 19, 8, 4, 6, 15, 13, 14, 6, 5, 8]

In [19]:
sorted(random_list)

[2, 3, 4, 5, 6, 6, 6, 6, 7, 8, 8, 8, 12, 13, 14, 15, 17, 17, 19, 20]

In [20]:
def mykey(value):
    return value % 10

sorted(random_list, key=mykey)

[20, 2, 12, 3, 13, 4, 14, 15, 5, 6, 6, 6, 6, 17, 7, 17, 8, 8, 8, 19]

In [21]:
sorted(random_list, key=lambda value: value%10)

[20, 2, 12, 3, 13, 4, 14, 15, 5, 6, 6, 6, 6, 17, 7, 17, 8, 8, 8, 19]

In [22]:
members = "이다경 이수빈 강윤지 김주영 김지원 진민기 양가은 백다은 김남희 김재원 윤현규 최진현 정지은 황지영 장혜정 한지연 정희탁 황유선 원종훈 박정욱 김인겸 현병준 김선홍 윤성환".split()
members

['이다경',
 '이수빈',
 '강윤지',
 '김주영',
 '김지원',
 '진민기',
 '양가은',
 '백다은',
 '김남희',
 '김재원',
 '윤현규',
 '최진현',
 '정지은',
 '황지영',
 '장혜정',
 '한지연',
 '정희탁',
 '황유선',
 '원종훈',
 '박정욱',
 '김인겸',
 '현병준',
 '김선홍',
 '윤성환']

In [23]:
sorted(members)

['강윤지',
 '김남희',
 '김선홍',
 '김인겸',
 '김재원',
 '김주영',
 '김지원',
 '박정욱',
 '백다은',
 '양가은',
 '원종훈',
 '윤성환',
 '윤현규',
 '이다경',
 '이수빈',
 '장혜정',
 '정지은',
 '정희탁',
 '진민기',
 '최진현',
 '한지연',
 '현병준',
 '황유선',
 '황지영']

In [24]:
'이진석'[1]

'진'

In [26]:
sorted(members, key=lambda name: name[1])

['양가은',
 '김남희',
 '이다경',
 '백다은',
 '진민기',
 '현병준',
 '김선홍',
 '윤성환',
 '이수빈',
 '황유선',
 '강윤지',
 '김인겸',
 '김재원',
 '박정욱',
 '원종훈',
 '김주영',
 '김지원',
 '정지은',
 '황지영',
 '한지연',
 '최진현',
 '윤현규',
 '장혜정',
 '정희탁']

In [28]:
# filter
list(filter(lambda i: i%10 < 5, random_list))

[3, 2, 12, 20, 4, 13, 14]

In [29]:
list(filter(lambda i: i%10, random_list)) # BAD

[17, 7, 6, 3, 6, 17, 2, 12, 8, 19, 8, 4, 6, 15, 13, 14, 6, 5, 8]

In [30]:
list(filter(lambda i: i%10 != 0, random_list)) # GOOD

[17, 7, 6, 3, 6, 17, 2, 12, 8, 19, 8, 4, 6, 15, 13, 14, 6, 5, 8]

In [31]:
list(map(lambda i: i**2, random_list))

[289,
 49,
 36,
 9,
 36,
 289,
 4,
 144,
 400,
 64,
 361,
 64,
 16,
 36,
 225,
 169,
 196,
 36,
 25,
 64]

In [32]:
list(map(lambda i: i**2, filter(lambda i: i%10 < 5, random_list)))

[9, 4, 144, 400, 16, 169, 196]

In [33]:
max(1, 2, 3)

3

In [34]:
max([1, 2, 3])

3

In [35]:
max([])

ValueError: max() arg is an empty sequence

In [36]:
max([], default=0)

0

In [37]:
max(random_list, key=lambda i: i%10, default=0)

19

In [38]:
min(random_list, key=lambda i: i%10, default=0)

20

In [40]:
max_value = random_list[0]
for value in random_list[1:]:
    if value > max_value:
        max_value = value
print(max_value)

20

In [41]:
random_list

[17, 7, 6, 3, 6, 17, 2, 12, 20, 8, 19, 8, 4, 6, 15, 13, 14, 6, 5, 8]

In [42]:
random_list.sort()

In [43]:
random_list

[2, 3, 4, 5, 6, 6, 6, 6, 7, 8, 8, 8, 12, 13, 14, 15, 17, 17, 19, 20]

In [44]:
# random_list = sorted(random_list)

In [46]:
i = 1111111
str(i)  # "11"
len(str(i))  # 2

7

In [47]:
# Quiz : 다수 기준으로 정렬하기
mylist = [10, 11, 9, 20, 12, 313, 211, 121]
mylist.sort(key=lambda i: (len(str(i)), i%10))
mylist

[9, 10, 20, 11, 12, 211, 121, 313]