## List

In [1]:
numbers = [1, 3, 5, 7, 9]

In [2]:
numbers[0]

1

In [3]:
numbers[3]

7

In [4]:
numbers[4] + 10

19

In [5]:
numbers[5]

IndexError: list index out of range

In [6]:
# 다른 타입의 값들로 리스트를 구성할 수 있습니다.
items = [1, 1.1, 'a', 'b', 3]

In [7]:
'c' in items

False

In [8]:
'a' in items

True

In [9]:
len(items)

5

In [10]:
len([1, 2, 3, 4, 5])

5

In [11]:
len([1, 2, 3, 4, 5, [6, 7], 8, [9, 10]])

8

In [12]:
len([1, 2, 3, 4, 5, [6, 7], 8, [9, 10]][5])

2

In [13]:
len([1, 2, 3, 4, 5, [6, 7], 8, [9, 10]][4])

TypeError: object of type 'int' has no len()

In [14]:
for i in numbers:
    print(i)

1
3
5
7
9

In [15]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print('2 * {} = {}'.format(i, 2*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [19]:
for j in [2, 3, 4, 5, 6, 7, 8, 9]:
    print('---- {}단 ----'.format(j))
    for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
        print('{} * {} = {}'.format(j, i, j*i))

print("END")

---- 2단 ----
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---- 3단 ----
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---- 4단 ----
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---- 5단 ----
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---- 6단 ----
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---- 7단 ----
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---- 8단 ----
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---- 9단 ----
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
END

In [20]:
# List 데이터 변경
numbers = [1, 3, 5, 7, 5]

In [21]:
numbers[0]

1

In [22]:
numbers[0] = 10

In [23]:
numbers

[10, 3, 5, 7, 5]

In [24]:
numbers.append(9)

In [25]:
numbers

[10, 3, 5, 7, 5, 9]

In [26]:
numbers.pop(3)

7

In [27]:
numbers

[10, 3, 5, 5, 9]

In [28]:
numbers.remove(5) # 앞에서부터 처음 만나는 5를 제거

In [29]:
numbers

[10, 3, 5, 9]

In [30]:
numbers.remove(5)

In [31]:
numbers

[10, 3, 9]

In [32]:
numbers.remove(5)

ValueError: list.remove(x): x not in list

In [33]:
numbers

[10, 3, 9]

In [34]:
numbers.insert(1, 11)

In [35]:
numbers

[10, 11, 3, 9]

### 슬라이싱

In [36]:
numbers = [1, 3, 5, 7, 5]

In [37]:
numbers[1:4]

[3, 5, 7]

In [38]:
numbers[10:20]  # 없는 인덱스로서 슬라이싱 접근

[]

In [39]:
numbers[1:]

[3, 5, 7, 5]

In [40]:
numbers[:3]

[1, 3, 5]

In [44]:
# 파이썬에서는 이렇게 하지 않아요.
# 대개의 언어에서는 직접 인덱스를 계산
numbers[1:len(numbers)]

[3, 5, 7, 5]

In [42]:
numbers[1:]

[3, 5, 7, 5]

In [45]:
numbers

[1, 3, 5, 7, 5]

In [47]:
# 기존 numbers 리스트를 복제한 새로운 리스트를
# 만들고자할때
numbers[:]

[1, 3, 5, 7, 5]

In [48]:
numbers[1:4]

[3, 5, 7]

In [49]:
numbers[1:4:1]

[3, 5, 7]

In [50]:
numbers[1:4:2]

[3, 7]

In [53]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[8::-1])
print(numbers[-2::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [54]:
# for j in [2, 3, 4, 5, 6, 7, 8, 9][::2]:
for j in [2, 3, 4, 5, 6, 7, 8, 9][1::3]:
    print('---- {}단 ----'.format(j))
    for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
        print('{} * {} = {}'.format(j, i, j*i))

print("END")

---- 3단 ----
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---- 6단 ----
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---- 9단 ----
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
END

In [55]:
# 리스트 더하기
numbers1 = [1, 3, 5, 7]
numbers2 = [2, 4, 6, 8]
numbers1 + numbers2

[1, 3, 5, 7, 2, 4, 6, 8]

In [57]:
# List Comprehension
numbers1 = [1, 3, 5, 7]
numbers2 = [2, 4, 6, 8]
[i+j for (i, j) in zip(numbers1, numbers2)]

[3, 7, 11, 15]

## Tuple

In [59]:
(3 + 6) * 5

45

In [60]:
(3 + 6,) * 5

(9, 9, 9, 9, 9)

In [61]:
(9,) + (9,) + (9,) + (9,) + (9,)

(9, 9, 9, 9, 9)

In [62]:
(9) + (9) + (9) + (9) + (9)

45

In [64]:
numbers = (2, 3, 4)
for i in numbers:
    print(i ** 2)

4
9
16

In [65]:
numbers = (2)
for i in numbers:
    print(i ** 2)

TypeError: 'int' object is not iterable

In [66]:
numbers = (2,)
for i in numbers:
    print(i ** 2)

4

In [67]:
numbers = [2]
for i in numbers:
    print(i ** 2)

4

## Packing / Unpacking

In [68]:
x = 1
y = 2

In [69]:
temp = x
x = y
y = temp

In [70]:
print(x, y)

2 1

In [75]:
(x, y) = (y, x)

In [77]:
mytuple = (y, x)
(x, y) = mytuple

In [78]:
x = 1
y = 2

x, y = 1, 2

In [80]:
a, b, c = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)[:3]

In [81]:
a, b, c, *dummy = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [82]:
dummy

[4, 5, 6, 7, 8, 9, 10]

## 집합형

In [83]:
set_numbers = { 1, 3, 4, 5, 1, 4, 3, 1 }

In [84]:
set_numbers

{1, 3, 4, 5}

In [85]:
set_numbers1 = { 1, 3, 4, 5, 1, 4, 3, 1 }
set_numbers2 = { 1, 4, 11, 13, 14, 15, 11, 14, 13, 11 }

In [87]:
set_numbers1 - set_numbers2

{3, 5}

In [89]:
set_numbers1 | set_numbers2

{1, 3, 4, 5, 11, 13, 14, 15}

In [90]:
set_numbers1 & set_numbers2

{1, 4}

In [91]:
set_numbers1 ^ set_numbers2

{3, 5, 11, 13, 14, 15}

## 사전형 (Dict)

In [92]:
scores = { '이다경': 100, '이수빈': 90, '강윤지': 95, '김주영': 50 }

In [93]:
scores['이다경']

100

In [94]:
scores['이다경 ']

KeyError: '이다경 '

In [95]:
scores

{'강윤지': 95, '김주영': 50, '이다경': 100, '이수빈': 90}

In [96]:
scores = { '이다경': 100, '이수빈': 90, '강윤지': 95, '김주영': 50, '강윤지': 98 }

In [97]:
scores

{'강윤지': 98, '김주영': 50, '이다경': 100, '이수빈': 90}

In [98]:
scores['김지원']

KeyError: '김지원'

In [99]:
scores['김지원'] = 93

In [100]:
scores

{'강윤지': 98, '김주영': 50, '김지원': 93, '이다경': 100, '이수빈': 90}

In [101]:
del scores['김지원']

In [102]:
scores

{'강윤지': 98, '김주영': 50, '이다경': 100, '이수빈': 90}

In [105]:
dict_values = { 'blue': 10, 'yellow': 3, 'red': 7 }

for key in dict_values:
    print(key)

for key in dict_values.keys():
    print(key)

for value in dict_values.values():
    print(value)
    
for key in dict_values:
    value = dict_values[key]
    print(key, value)

for (key, value) in dict_values.items():
    print(key, value)

blue
yellow
red
blue
yellow
red
10
3
7
blue 10
yellow 3
red 7
blue 10
yellow 3
red 7

In [107]:
print(dict_values.values())
print(10 in dict_values.values())

dict_values([10, 3, 7])
True

## Block Statement

In [108]:
for i in [1, 2, 3]:

print("END")

IndentationError: expected an indented block (<ipython-input-108-0972861c973e>, line 3)

In [109]:
for i in [1, 2, 3]:
    pass
print("END")

END

## 주석 (Comments)

In [110]:
# 한 줄 주석

In [111]:
a = 1 + 2  # 1과 2를 더합니다.

In [112]:
a = 1 + 2  '1과 2를 더합니다.'

SyntaxError: invalid syntax (<ipython-input-112-3080ee3dd08b>, line 1)

In [113]:
'1과 2를 더합니다.'
a = 1 + 2

In [115]:
# 함수의 docstring : document string

# 2개의 인자를 받아서 더한 값을 리턴해줍니다.
def mysum(x, y):
    return x + y

In [116]:
def mysum2(x, y):
    '2개의 인자를 받아서 더한 값을 리턴해줍니다.'
    return x + y

In [117]:
mysum2?

## 조건문

In [119]:
import random
number = random.randint(1, 1000)

In [120]:
if number < 0:
    print('음수입니다.')
if number == 0:
    print('0입니다.')
if 0 < number and number < 10:
    print('한자리수입니다.')
if 10 < number and number < 100:
    print('두자리수입니다.')
if number > 100:
    print('너무 크다')

너무 크다

In [121]:
number

620

In [122]:
if number < 0:
    print('음수입니다.')
elif number == 0:
    print('0입니다.')
elif number < 10:
    print('일의 자리수')
elif number < 100:
    print('2자리수')
else:
    print('너무 크다.')

너무 크다.

## 반복문 (for)

In [123]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    break

1

In [125]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    if i % 2 == 0:
        break

1
2

In [127]:
for j in [2, 3, 4]:
    for i in [1, 2, 3, 4, 5]:
        print('{} * {} = {}'.format(j, i, j*i))
        if i % 2 == 0:
            break  # 근접한 반복문 1개만 빠져나온다.

2 * 1 = 2
2 * 2 = 4
3 * 1 = 3
3 * 2 = 6
4 * 1 = 4
4 * 2 = 8

In [128]:
for j in range(2, 10):
    print('---- {}단 ----'.format(j))
    for i in range(1, 10):
        print('{} * {} = {}'.format(j, i, j*i))

---- 2단 ----
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---- 3단 ----
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---- 4단 ----
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---- 5단 ----
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---- 6단 ----
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---- 7단 ----
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---- 8단 ----
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---- 9단 ----
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [129]:
# 단순 지정횟수 반복
for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [130]:
# 단순 지정횟수 반복
for _ in range(3):
    print('hello')

hello
hello
hello

### 무한 i

In [131]:
i = 1
while True:
    print(i)
    if i > 3:
        break
    i += 1

1
2
3
4

In [133]:
from itertools import count

for i in count(1):
    print(i)
    if i > 3:
        break

1
2
3
4

## 함수 (Function)

In [134]:
def myfn1():
    print("hello")

In [136]:
myfn1()

hello

In [138]:
myfn1()

hello

In [139]:
def mysum(x, y):
    return x + y + 10

In [140]:
mysum(1, 2)

13

In [141]:
mysum(10, 20)

40

In [142]:
def myfn1():
    print("hello")

In [143]:
def myfn2():
    return "hello"

In [144]:
myfn1()

hello

In [145]:
myfn2()

'hello'